@media (max-width: 768px){
    .navbar {
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
        display: block;
    }

    .navbar-container {
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"] {
        display: block;
        position: absolute;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
    }

    .navbar-container .hamburger-lines {
        position: absolute;
        top: 17px;
        left: 20px;
        height: 23px;
        width: 35px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .hamburger-lines .line {
        background: #222;
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
    }

    .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.5s ease-in-out;
    }
    .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }
    .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.5s ease-in-out;
    }

    .navbar .menu-items {
        padding-top: 100px;
        background: #ddd;
        height: 100vh;
        max-width: 300px;
        display:flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transform: translate(-150%);
        box-shadow: 5px 0px 10px #aaa;
        transition: transform 0.5s ease-in-out;
    }

    .menu-items li {
        margin-bottom: 1.5rem;
        font-size: 1.3rem;
        font-weight: 500;
    }

    .logo {
        position: absolute;
        top: 5px;
        right: 15px;
        font-size: 2rem;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items {
        transform: translate(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(35deg);
    }
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
    }
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-35deg);
    }

    /* food container */
    .food-container {
        flex-direction: column;
        align-items: stretch;
    }

    .food-type:not(:last-child) {
        margin-bottom: 3rem;
    }

    .food-type {
        box-shadow: 5px 5px 10px 0px #aaa;
    }

    .img-container {
        margin: 0;
    }
}

/* 769-1200px */

@media (min-width:769px) and (max-width: 1200px) {
    .img-container h3 {
        font-size: 1.5rem;
    }

    .img-container .btn {
        font-size: 0.7rem;
    }
}

/* orientation */
@media (orientation: landscape) and (max-height:500px) {
    .showcase-area {
        height: 50vmax;
    }
}

/* below 500px */